@model PetAdopt.Models.AdoptApplication

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AdoptApplication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRegistered" class="control-label"></label>
                <input asp-for="DateRegistered" class="form-control" />
                <span asp-validation-for="DateRegistered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateApproved" class="control-label"></label>
                <input asp-for="DateApproved" class="form-control" />
                <span asp-validation-for="DateApproved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRejected" class="control-label"></label>
                <input asp-for="DateRejected" class="form-control" />
                <span asp-validation-for="DateRejected" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDeleted" class="control-label"></label>
                <input asp-for="DateDeleted" class="form-control" />
                <span asp-validation-for="DateDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeopleAtHome" class="control-label"></label>
                <input asp-for="PeopleAtHome" class="form-control" />
                <span asp-validation-for="PeopleAtHome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChildrenAtHome" class="control-label"></label>
                <input asp-for="ChildrenAtHome" class="form-control" />
                <span asp-validation-for="ChildrenAtHome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChildrenAges" class="control-label"></label>
                <input asp-for="ChildrenAges" class="form-control" />
                <span asp-validation-for="ChildrenAges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeAntiguety" class="control-label"></label>
                <input asp-for="HomeAntiguety" class="form-control" />
                <span asp-validation-for="HomeAntiguety" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandlordConsentForPets" class="control-label"></label>
                <input asp-for="LandlordConsentForPets" class="form-control" />
                <span asp-validation-for="LandlordConsentForPets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandlordInformation" class="control-label"></label>
                <input asp-for="LandlordInformation" class="form-control" />
                <span asp-validation-for="LandlordInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strata" class="control-label"></label>
                <input asp-for="Strata" class="form-control" />
                <span asp-validation-for="Strata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovingNextSixMonths" class="control-label"></label>
                <input asp-for="MovingNextSixMonths" class="form-control" />
                <span asp-validation-for="MovingNextSixMonths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetIsAGift" class="control-label"></label>
                <input asp-for="PetIsAGift" class="form-control" />
                <span asp-validation-for="PetIsAGift" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeThoughtToGetAPet" class="control-label"></label>
                <input asp-for="TimeThoughtToGetAPet" class="form-control" />
                <span asp-validation-for="TimeThoughtToGetAPet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyAPet" class="control-label"></label>
                <input asp-for="WhyAPet" class="form-control" />
                <span asp-validation-for="WhyAPet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodEstimateExpense" class="control-label"></label>
                <input asp-for="FoodEstimateExpense" class="form-control" />
                <span asp-validation-for="FoodEstimateExpense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalEstimateExpense" class="control-label"></label>
                <input asp-for="MedicalEstimateExpense" class="form-control" />
                <span asp-validation-for="MedicalEstimateExpense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiscEstimateExpense" class="control-label"></label>
                <input asp-for="MiscEstimateExpense" class="form-control" />
                <span asp-validation-for="MiscEstimateExpense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyEstimateExpense" class="control-label"></label>
                <input asp-for="EmergencyEstimateExpense" class="form-control" />
                <span asp-validation-for="EmergencyEstimateExpense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialsProvideEssentials" class="control-label"></label>
                <input asp-for="InitialsProvideEssentials" class="form-control" />
                <span asp-validation-for="InitialsProvideEssentials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialsNurturingEnvironment" class="control-label"></label>
                <input asp-for="InitialsNurturingEnvironment" class="form-control" />
                <span asp-validation-for="InitialsNurturingEnvironment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialsAnimalControlByLaw" class="control-label"></label>
                <input asp-for="InitialsAnimalControlByLaw" class="form-control" />
                <span asp-validation-for="InitialsAnimalControlByLaw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialsContactAnimalShelter" class="control-label"></label>
                <input asp-for="InitialsContactAnimalShelter" class="form-control" />
                <span asp-validation-for="InitialsContactAnimalShelter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initials14DaysReturn" class="control-label"></label>
                <input asp-for="Initials14DaysReturn" class="form-control" />
                <span asp-validation-for="Initials14DaysReturn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignatureApplication" class="control-label"></label>
                <input asp-for="SignatureApplication" class="form-control" />
                <span asp-validation-for="SignatureApplication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userEmail" class="control-label"></label>
                <input asp-for="userEmail" class="form-control" />
                <span asp-validation-for="userEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
